.trick-list {
  padding: var(--padding-md);
  background-color: var(--background-md);
  border-radius: var(--border-radius);
  max-width: var(--width-lg);
  margin: var(--margin-center);
}

.trick-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
