.photo {
  background: url("../../data/images/daisy-placeholder.jpg") center/cover
    no-repeat;
  border: 10px solid var(--polaroid-border);
  border-radius: var(--border-radius);
  margin: var(--margin-lg);
  position: absolute;
  box-shadow: -3px 5px var(--shadow-height) var(--shadow-xlt);
  z-index: 1000;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.paperclip {
  content: url("../../data/images/paperclip.png");
  position: absolute;
  z-index: 1001;
}

@media (max-width: 600px) {
  .photo {
    position: unset;
    height: auto;
    margin: var(--margin-sm);
  }

  .photo-spacer {
    display: none;
  }

  .paperclip {
    display: none;
  }
}
