@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading-spinner {
    animation: loading-spinner infinite 1s linear;
  }
}

@media (prefers-reduced-motion: reduce) {
  .loading-spinner {
    animation: loading-spinner infinite 5s linear;
  }
}
