@import "./colors.css";
@import "./sizes.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dk) !important;
}

body h1 {
  font-size: 1.5rem;
  color: var(--accent);
}

.col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.photo-spacer {
  margin: 0 var(--margin-sm);
}

.subtitle {
  font-style: italic;
  opacity: 75%;
}
